services:
  # =========================
  # 1. ZOOKEEPER
  # =========================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zookeeper:2888:3888

  # =========================
  # 2. KAFKA
  # =========================

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
     - zookeeper
    ports:
      # Map the correct listener port (29092) to the host machine for Flink to use
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Force Kafka to bind and advertise only on 29092 for the internal Docker network.
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

 # =========================
 # KAFKA TOPIC INIT SERVICE
 # =========================

  kafka-init:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      kafka:
        condition: service_started
    volumes:
      - ./shell_script_jobs/create-topics.sh:/tmp/create-topics.sh # Map the script
    entrypoint: [ "sh", "/tmp/create-topics.sh" ] # Run the script on startup

  # =========================
  # 2. TIMESCALEDB
  # =========================

  db: 
    image: timescale/timescaledb:latest-pg15
    platform: linux/arm64
    shm_size: '2gb'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: gdelt_db
    ports:
      - "5432:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 5s
      timeout: 5s
      retries: 5

 # =========================
 # FLINK JOBMANAGER
 # =========================

  jobmanager: 
    image: finalyearproject
    hostname: jobmanager
    ports:
      - "8081:8081"
    volumes:
      - ./jars:/opt/flink/lib/custom
      - ./flink-jobs:/opt/flink/jobs
      - ./conf_files/flink-conf.yaml:/opt/flink/conf/flink-conf.yaml
    environment:
        - JOB_MANAGER_RPC_ADDRESS=jobmanager
    command: ["/opt/flink/bin/jobmanager.sh", "start-foreground"]

 # =========================
 # FLINK TASKMANAGER
 # =========================

  taskmanager: 
    image: finalyearproject
    depends_on:
      - jobmanager
    volumes:
      - ./flink-jobs:/opt/flink/jobs
      - ./conf_files/flink-conf.yaml:/opt/flink/conf/flink-conf.yaml
    environment:
        - JOB_MANAGER_RPC_ADDRESS=jobmanager
        - FLINK_ENV_PYTHONPATH=/opt/project:/opt/flink/lib/*
    command: [ "/opt/flink/bin/taskmanager.sh", "start-foreground" ]


 # =========================
 # AIRFLOW (The Producer)
 # =========================

  airflow:
    image: apache/airflow:2.7.1
    container_name: finalyearproject-airflow-1
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./gdelt_data:/opt/airflow/gdelt_data
      - ./flink-jobs:/opt/airflow/flink-jobs
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://user:password@db:5432/gdelt_db
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
    depends_on:
      db:
        condition: service_healthy
    command: >
      bash -c "
      pip install --no-cache-dir requests kafka-python psycopg2-binary &&
      airflow standalone
      "
 # =========================
 # --- 6. FLASK API ---
 # =========================

  flask_api:
    image: finalyearproject
    ports:
      - "5001:5000"
    volumes:
      - ./:/opt/project
    depends_on:
      - db
    command: python /opt/project/app.py


  grafana:
    image: grafana/grafana:10.2.3
    container_name: finalyearproject-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - db

  cadvisor:
    # Do NOT use :latest. It is broken. Use a specific recent version.
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    platform: linux/aarch64
    container_name: cadvisor
    # 'privileged' allows cAdvisor to read the container names correctly
    privileged: true
    ports:
      - "8082:8080"
    devices:
      - /dev/kmsg
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      # Explicitly mount the socket so it can find names
      - /var/run/docker.sock:/var/run/docker.sock:ro

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./conf_files/prometheus.yml:/etc/prometheus/prometheus.yml

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - "9100:9100"

volumes:
  timescale_data:
  grafana_data: